@import url('https:fonts.googleapis.com/css?family=Roboto');
@import 'modal';

// Variables
$primary-color: #003699;
$dark-color: #333333;
$light-color: #f4f4f4;

// General reset
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// Body
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: #e9e9e9;
    color: #333333;
}

// Container
.container{
    overflow: hidden;
    text-align: center;

    // Header
    header{
        background: #FFF;
        border-bottom: 1px solid #aeaeae;
        text-align: center;
        height: auto;

        h1{
            padding: 1rem;
        }

        // Score
        .score{
            display: flex;
            font-size: 1.2rem;
            color: #FFFFFF;
            
            p:first-child{
                padding: 0.6rem;
                flex:1;
                background: $primary-color;
            }
            
            p:last-child{
                padding: 0.6rem;
                flex:1;
                background: $dark-color;
            }
        }
    }

}

// Restart button
.restart-btn{
    display: none;
    background: $light-color;
    color: #333333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    margin: 2rem auto;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 46px);

    &:hover{
        background: $primary-color;
        color: #FFFFFF;
    }
}

// Choices
.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 134px);

    .choice{
        flex: 1;
        font-size: 10rem;
        cursor: pointer;
        
        &:hover{
            color:$primary-color;
        }
    }
}

// Media Queries

@media(max-width: 700px) {
    .choices {
        .choice{
            font-size: 110px;
    
            &:hover{
                color: red;
            }
        }
    }
}

@media(max-width: 500px) {
    .choices {

        flex-direction: column;
        padding-top: 50px;

        .choice{
            font-size: 90px;

            &:hover{
                color: green;
            }
        }
    }
}